<!-- <p>Your Appointments</p> -->
<!-- <a routerLink="/specialization">Home</a> |
<a routerLink="/bookedappointments">Your Appointments</a> |
<a routerLink="/logout">Logout</a> -->
<div style="width: 100%; height:100%; position: fixed; top:0; left:0;
 background-image: url('../../assets/images/bookedappointments.png'); background-position: center;background-repeat: no-repeat;
 background-size: cover;">
    <app-userheader></app-userheader>
    <div class="container" style="border: 2px solid rgb(22, 40, 97); width: 60%; margin-top: 6rem; " *ngIf="size; else noappointments">
        <!-- <p>departmentdoctors works!</p> -->
        <!-- <h1>The doctors in the {{doctors.splName}} Department</h1> -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Doctor Name</th>
                    <th>Doctor Specialization</th>
                    <th>Appointment Date</th>
                    <th>Appointment Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of app" style="font-weight: 500;">
                    <td>{{appointment.userName}}</td>
                    <td>{{appointment.doctorName}}</td>
                    <td>{{appointment.department}}</td>
                    <td>{{appointment.appointmentDate}}</td>
                    <td>{{appointment.appointmentTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <ng-template #noappointments>There are no appointments</ng-template>
    </div>
</div>
<app-footer></app-footer>