<!-- <p>appointmentstatus works!</p> -->

<!-- <a routerLink="/specialization">Home</a> |
<a routerLink="/bookedappointments">Your Appointments</a> |
<a routerLink="/logout">Logout</a> -->
<div style="width: 100%; height:100%; position: fixed; top:0; left:0;
 background-image: url('../../assets/images/Cute-Gray-Plain-Background.jpg'); background-position: center;background-repeat: no-repeat;
 background-size: cover;">
    <app-userheader></app-userheader>
    <h5 *ngIf="isBooked; else notBooked " style="text-align: center;">Appointment is Booked</h5>
    <h5 style="text-align: center;">
        <ng-template #notBooked> Appointment is not booked due to not having slot / you have booked in Advance or delay</ng-template>
    </h5>
    <br>
    <div style="width: 15rem; margin: auto;">
        <a class="btn btn-primary" routerLink="/bookedappointments" role="button">Show Appointments</a>
    </div>
</div>
<app-footer></app-footer>